body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('./assets/bg.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

#root,
body,
html {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  width: 80%;
  margin: auto;
}

button.btn {
  height: 80px;
  margin: auto;
  display: block;
  border: none;
  font-size: 36px;
  width: 280px;
  font-weight: bold;
  display: block;
  margin: auto;
  margin-top: 40px;
}
